body {
  background: url('../images/background.png');
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: auto;
  padding: 50px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.title {
  flex-basis: 98%;
  align-self: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 3em;
  padding-bottom: 20px;
  
}

.card {
  background: url('../images/card-background.png');
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 250px;
}

.card-top {
  height: 75%;
  position: relative;
  overflow: hidden;
}

.card-bottom {
  height: 25%;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

span {
  vertical-align: middle;
  display: inline-block;
}

.reaction {
  display: block;
  margin: auto;
  padding-top: 25%;
  height: 50%;
}

.reaction-bottom-left {
  display: block;
  margin: auto;
  padding-top: 25%;
  height: 50%;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

.vote-image {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

.shadow {
    box-shadow: 0 10px 20px rgba(255, 225, 255,0.19), 0 6px 6px rgba(255, 225, 255,0.23);
}

.shadow:hover {
  box-shadow: 0 14px 28px
  rgba(255, 225, 255,0.24), 0 10px 10px
  rgba(255, 225, 255,0.23);
}

form {
  padding-top: 20px;
  padding-left: 10px;
}